<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Familia</title>
  <link rel="stylesheet" href="/css/mifamilia.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="sueños.html">Sueños y Metas</a></li>
        <li><a href="miFamilia.html">Mi Familia</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Mi Familia</h1>
    <div class="galeria">
      <img src="/images/WhatsApp Image 2024-12-11 at 3.34.49 PM.jpeg" alt="papa"> <h3>padre</h3>
      <img src="/images/WhatsApp Image 2024-12-11 at 3.35.40 PM.jpeg" alt="hermano"><h3>hermano</h3>
      <img src="/images/WhatsApp Image 2024-12-11 at 3.37.36 PM.jpeg" alt="mama"><h3>madre</h3>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 Wilson Daniel Saavedra</p>
  </footer>
</body>
</html>
